
/*FORMAT DISPLAY SETTINGS*/
*{
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    color: #000;
    background-color: #ffffff;
    scroll-behavior: smooth;
    padding: 40px;
}

/*NAVIGATION BAR*/

/*Aligns the header and the contents*/
header {
    display: flex;

    
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    margin-left: 60px;
}
nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 18px;
}
nav ul li a:hover{
    color: rgb(78, 140, 255) ;
}

#QuoteButton a{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}
#QuoteButton{
    padding: 10px 20px;
    border: 2px solid white;
    background-color: rgb(0, 0, 0);
    border-radius: 40px;
}
#QuoteButton:hover{
    color: #ffffff;
    background-color: rgb(78, 140, 255);
}

/*MAIN DESIGN*/
#page-name{
    font-size: 60px;
    margin-top: 100px;
    margin-left: -40%;
}

#catcher{
    font-size: 20px;
    margin-top: 30px;
    color: #5483B3;
    font-weight: lighter;
    margin-left: -40%;
}

#Consultation a{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}
#Consultation{
    padding: 10px 20px;
    border: 2px solid white;
    background-color: rgb(0, 0, 0);
    border-radius: 40px;
    margin-left: -40%;
    margin-top: 30px;
}
#Consultation:hover{
    color: #ffffff;
    background-color: rgb(78, 140, 255);
}
.image-01{
    width: 450px;
    height: 350px;
    background-color: #c0c0c0;
    margin-top: -300px;
    margin-left: 750px;
}

.overview-section{
    padding: 50px;
    margin: 40px auto;
}

.services{
    background-color: #eeeeee;
    padding: 40px;
    border-radius: 20px;
}

/*CARDS*/
.service-container{
    max-width: 100%;
    overflow-x: auto;
    display: flex;
    gap: 5px;
    padding: 20px;
}

.service{
    min-height: 150px;
    margin: 10px;
    padding: 20px;
    background-color: #000000;
    border-radius: 10px;
    color: #ffffff;

}

.get-in-touch, .why-redesign{
    padding: 40px;
}

.revamp{
    font-family: 'Comic Sans MS', 'Brush Script MT', cursive;
    font-size: 20px;
    color: #0095ff;
}




/*RESPONSIVENESS*/

@media only screen and (max-width: 768px){
    body {
        font-size: 16px;
        padding: 20px;
    }
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }
    .logo{
        font-size: 20px;
        font-weight: 600;
    }

    nav {
        position: relative;
    }
    
    nav ul {
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #ffffff;
        width: 320px;
        display: none;
        padding: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        margin: 10px 0;

    }
    nav ul li a{
        color: #000000;
        
    }

    #QuoteButton a{
        text-decoration: none;
        color: #ffffff;
        font-size: 12px;
    }
    #QuoteButton{
        padding: 5px 15px;
        border: 2px solid white;
        background-color: rgb(0, 0, 0);
        border-radius: 40px;
    }
    #QuoteButton:hover{
        color: #ffffff;
        background-color: rgb(78, 140, 255);
    }

    #page-name{
        font-size: 30px;
        font-weight: 500;
        text-align: center;
        margin-top: 170px;
        margin-left: 0;
    }
    #catcher{
        font-size: 12px;
        margin-left: 0;
    }
    .image-01{
        width: 98%;
        height: 400px;
        margin: 0 auto;
        margin-top: -320px;
    }
    
    #Consultation a{
        font-size: 12px;
    }
    #Consultation{
        margin-left: 0;
        background-color: transparent;
    }
    .overview-section{
        padding: 10px;
    }

    .overview-section h2{
        font-size: 16px;
    }
    .overview-section p{
        font-size: 12px;
    }
    
    .services{
        padding: 5px;
        background: none;
    }
    .services h2{
        font-size: 16px;
    }
    .service h3{
        font-size: 16px;
    }
    .service p{
        font-size: 12px;
    }
    .service{
        margin-top: -10px;
        min-width: 150px;
    }

    .why-redesign{
        padding: 10px;
        margin-bottom: 40px;
    }

    .why-redesign h2{
        font-size: 16px;
    }
    
    .why-redesign p{
        font-size: 12px;
    }
    .get-in-touch{
        padding: 20px;
    }

    .get-in-touch h2{
        font-size: 16px;
    }
    .get-in-touch p{
        font-size: 12px;
    }
}