@font-face {
    font-family: 'CenturyGothic', 'AppleGothic', 'Gill Sans', 'SegoeUI', 'Arial';
    src: url('path/to/century_gothic.ttf') format('truetype');
}
/*FORMAT DISPLAY SETTINGS*/
*{
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    font-family: Century Gothic, sans-serif;
    text-align: center;
    color: #000;
    background-color: #ffffff;
    scroll-behavior: smooth;
}

/*NAVIGATION BAR*/

/*Aligns the header and the contents*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    margin-left: 60px;
}
nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 18px;
}
nav ul li a:hover{
    color: rgb(78, 140, 255) ;
}

#QuoteButton a{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}
#QuoteButton{
    padding: 10px 20px;
    border: 2px solid white;
    background-color: rgb(0, 0, 0);
    border-radius: 40px;
}
#QuoteButton:hover{
    color: #ffffff;
    background-color: rgb(78, 140, 255);
}

/*MAIN DESIGN*/
#page-name{
    font-size: 100px;
    margin-top: 20px;
}

#catcher{
    font-size: 24px;
    margin-top: 30px;
    color: #5483B3;
    font-weight: lighter;
}

.image-01{
    width: 1000px;
    height: 500px;
    margin: 28px auto;
    background-color: #c0c0c0;
}

.process-header-col-1{
    font-size: 50px;
    margin-top: 100px;
    padding: 20px;
}

/*INFOGRAPHICS DESIGN*/
.web-process{
    padding: 40px;
}

.infographics-1{
    max-width: 100%;
    overflow-x: auto;
    display: flex;
    gap: 10px;
    padding: 10px;
}


.infographic{
    min-width: 400px;
    padding: 20px;
    background-color: #e8e8e8;
    border-radius: 10px;
    color: #000000;

}
.infographic:hover{
    transform: translateY(-10px); 
}
.infographic h4{
    color: #000000;
    font-weight: 400;

}

.portfolio{
    padding: 40px;
}
/*CASE STUDIES*/

.logo img:hover{
    transform: scale(1.1);
}
#image-1{
    width: 600px;
    flex: 1;
    margin-left: 50px;
}
h4{
    font-weight: lighter;
}
.container{
    display: flex;
}
.content{
    flex: 1;
}

.logo img{
    width: 10%;
    margin-left: 20px;
    aspect-ratio: 3/2;
    object-fit: contain;
}
.logo{
    padding: 20px;
}


/*FOOTER*/
footer {
    margin-top: 30px;
    margin-bottom: 20px;
}

footer p {
    font-size: 12px;
}
/*RESPONSIVENESS*/

@media only screen and (max-width: 768px){
    body {
        font-size: 16px;
        padding: 20px;
    }
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }
    .logo{
        font-size: 20px;
        font-weight: 600;
    }

    nav {
        position: relative;
    }
    
    nav ul {
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #ffffff;
        width: 320px;
        display: none;
        padding: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        margin: 10px 0;

    }
    nav ul li a{
        color: #000000;
        
    }

    #QuoteButton a{
        text-decoration: none;
        color: #ffffff;
        font-size: 12px;
    }
    #QuoteButton{
        padding: 5px 15px;
        border: 2px solid white;
        background-color: rgb(0, 0, 0);
        border-radius: 40px;
    }
    #QuoteButton:hover{
        color: #ffffff;
        background-color: rgb(78, 140, 255);
    }

    .text-01{
        padding: 20px;
        text-align: center;
    }
    #page-name{
        font-size: 38px;
        font-weight: 500;
    }
    #catcher{
        font-size: 12px;
    }

    .image-01{
        width: 98%;
        height: 300px;
    }


    /*INFOGRAPHICS SETTINGS*/

    .web-process{
        padding: 5px;
    }

    .bi{
        width: 20px;
        height: 20px;
    }

    .infographic h2{
        font-size: 16px;
    }

    .infographic h4{
        font-size: 12px;
    }
    .process-header-col-1{
        font-size: 24px;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .infographics-1{
        align-items: center;
        padding: 0;
        margin: 0;
    }
    .infographic{
        min-width: 200px;
        padding: 20px;
        min-height: 300px;
    }
    /*CASE STUDIES*/

    #image-1{
        width: 200px;
        margin: 0 auto ;
    }
    
    h4{
        font-weight: lighter;
    }
    .container{
        margin-top: -50px;
        display: flex;
        flex-direction: column;
    }
    
    .logo img{
        width: 15%;
        margin-left: 0;
        object-fit: contain;
    }
    .logo{
        padding: 5px;
    }
    p{
        font-size: 12px;
    }
    .heading h2{
        font-size: 16px;
    }
    
}