
body {
    margin: 0;
  font-family: "Josefin Sans", sans-serif;
    text-align: center;
    color: #000;
    background-color: #ffffff;
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 60px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 16px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .line {
    width: 20px;
    height: 3px;
    background-color: #ffffff;
    margin: 2px 0;
    border-radius: 2px;
}

main {
    margin-top: 60px;
}

h1 {
    font-size: 140px;
    margin: 0;
    font-weight: lighter;
}

p {
    font-size: 24px;
    margin-top: 20px;
}

.about-page {
    margin-top: 150px;
    padding: 40px;
}

.about-page h1 {
    font-size: 50px;
}

.about-page p {
    font-size: 20px;
}


.services {
    margin-top: 100px;
}

.services h1 {
    font-size: 50px;
}

.services-page {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
}
.package-page {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
}

.seo-title {
    font-size: 28px;
    font-weight: bold;
}

.seo-description {
    font-size: 22px;
    line-height: 1.4;
}


.service1 {
    width: 527px;
    height: auto;
    border-radius: 18px;
    padding: 20px;
    font-family: 'Century Gothic', sans-serif;
    margin-right: 20px;
    background-color:  #e8e8e8;
    transform:translateX(100%);
    transition: transform 0.5s ease-in-out;
}
.service2 {
    width: 527px;
    height: auto;
    border-radius: 18px;
    padding: 20px;
    margin-right: 20px;
    background-color: #e8e8e8 ;
    transform:translateX(50%);
    transition: transform 1s ease-in-out;
}
.service1.show, .service2.show, .service3.show{
    transform: translateX(-0);
}
.service3 {
    width: 527px;
    height: auto;
    border-radius: 18px;
    padding: 20px;
    font-family: "Josefin Sans", sans-serif;
    margin-right: 20px;
    background-color: #e8e8e8;
    transform:translateX(10%);
    transition: transform 1.5s ease-in-out;
}
.Read-more button{
    padding: 10px 100px;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    color: #000;
    font-size: 16;
    border-radius: 5px;

}

.Read-more button:hover{
    transform: scale(1.0);
    background-color: #0a61b721;
    color: #ffffff;
}


.Package1 {
    width: 527px;
    height: auto;
    border-radius: 18px;
    padding: 20px;
    font-family: "Josefin Sans", sans-serif;
    margin-right: 20px;
    background-color: #e8e8e8;

}
.Package2 {
    width: 527px;
    height: auto;
    border-radius: 18px;
    padding: 20px;
   font-family: "Josefin Sans", sans-serif;
    margin-right: 20px;
    background-color: #e8e8e8;
}
.Package3 {
    width: 527px;
    height: auto;
    border-radius: 18px;
    padding: 20px;
    font-family: "Josefin Sans", sans-serif;
    margin-right: 20px;
    background-color: #e8e8e8;
}
.web-design-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.web-design-description {
    font-size: 22px;
    line-height: 1.4;
}

/* Base Styles */
.packages {
    margin-top: 100px;
padding: 20px;
}

.packages h1 {
    font-size: 50px;
}


.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.features {
    font-size: 18px;
    line-height: 1.4;
    text-align: left;
    padding-left: 20px;
}

.features li {
    list-style-type: disc;
}

.why-choose-me h1 {
    font-size: 50px;
}

.why-choose-me p {
    font-size: 24px;
}

.why-choose-me {
    margin-top: 80px;
    padding: 40px;
}

.contact {
    margin-top: 10px;
    padding: 40px;
}

.contact h1 {
    font-size: 50px;
}

.contact-container {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

footer {
    margin-top: 30px;
}

footer p {
    font-size: 12px;
}

.burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: none;
  }
  
  .burger input {
    display: none;
  }
  
  .burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  
  .burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
  }
  
  .burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
  }
  
  .burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
  }
  
  .burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
  }
  
  .burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
  }
  
  .burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
  }

/* Responsive Styles for Mobile Viewports */
@media only screen and (max-width: 768px) {
    body {
        font-size: 16px;
        padding: 20px;
    }

    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }
    .logo{
        font-size: 20px;
        font-weight: 600;
    }

    nav {
        position: relative;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #ffffff;
        width: 320px;
        display: none;
        padding: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        margin: 10px 0;

    }
    nav ul li a{
        color: #000000;
        
    }

    .menu-toggle {
        display: flex;
    }

    main {
        margin-top: 190px;
    }

    h1 {
        font-size: 50px;
    }

    p {
        font-size: 16px;
        margin-top: 100px;
    }
    main p {
        margin-bottom: 180px;
    }
    main h1{
        margin-bottom: 150px;
    }

    /*.about-page {
        margin-top: 100px;
    }*/

    .services .seo-description, .web-design-description {
        font-size: 12px;
    }

    .services .seo-title, .web-design-title, .contact h2, .package, .title, .price {
        font-size: 16px;
    }

    .features li, .about-page p, .why-choose-me p, .contact p, .seo-description, .web-design-description  {
        font-size: 12px;
    }

    .about-page h1, .services h1, .packages h1, .why-choose-me h1, .contact h1 {
        font-size: 24px;
    }

    .contact p {
        margin-top: -10px;
    }

    .service1, .service2, .service3, .Package1, .Package2, .Package3 {
        padding: 30px;
    }

    .service1{
        transform:translateY(100%);
        transition: transform 1s ease-in-out;
    }
    .service2{
        transform:translateY(50%);
        transition: transform 2s ease-in-out;
    }
    .service3{
        transform:translateY(10%);
        transition: transform 3s ease-in-out;
    }
    .service1.show, .service2.show, .service3.show{
        transform: translateY(0);
    }


    .services-page,.package-page, .contact-container{
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
    }


    .Read-more button{
        padding: 10px 40px;
    }
    .service1, .service2, .service3, .Package1, .Package2, .Package3{
        width: 80%;
        margin: 20px 0;
    }
    .about-page {
        padding: 20px;
    }
    #about, #services, #packages, #why-choose-me{
        margin-bottom: -70px;
    }
    .about-page h1, .why-choose-me h1 {
        margin-bottom: -80px;
    }
    .packages h1, .services h1{
        margin-bottom: -20px;
    }

    #why-choose-me{
        margin-bottom: -50px;
        padding: 20px;
    }

    .package-page, .service1, .service2, .Package1, .Package2{
        margin-bottom: -13px;
    }
    footer {
        margin-top: -50px;
    }
}
